:root{
    --radius: 5px;
    --btn-radius: 20px;
    --blue: rgb(0, 147, 207);
    --silver: rgb(226, 232, 239);
    --gray: rgb(73,73,73);
}


ul{
    padding: 0;
}

.container{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 4fr);
    grid-template-rows: minmax(150px, 1fr) 4fr;
}

aside{
    background-color: var(--blue);
    grid-area: 1 / 1 / -1 / 2;
    font-size: 1.2rem;
}

aside .cnt{
    height: 60%;
    display: grid;
    gap: 3rem;
}

.page a:visited, .page a , .logo{
    color: white;
    font-weight: 700;
}

.logo{
    padding-top: 2rem;
    padding-left: 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.logo svg{
    fill: white;
    width: 3rem;
    height: 3rem;
}

.settings li, .profile li{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
li svg{
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
}


.settings, .profile{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
}

.profile li, .settings li{
    margin-bottom: .2rem;
}

header{
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5rem 3rem;
    column-gap: 3rem;
    row-gap: .5rem;
}

main{
    display: grid;
    gap: 1rem;
    padding: 2rem 1rem;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1.3fr;
    background-color: rgb(226, 232, 239);

}

.projects-cnt{
    grid-area: 1 / 1 / -1 / 2;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 10rem);
    gap: 1.5rem;
    
}

.item{
    background-color: #fff;
    border-radius: var(--radius);
    height: 10rem;
    /* width: 100%; */
}

.announcements-cnt, .trending-cnt {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}


.announcements, .trending {
    flex-grow: 1;
    background-color: #fff;
    border-radius: var(--radius);
}


h1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--gray);
}

.search{
    background-color: var(--silver);
    border-radius: var(--btn-radius);
    height: 2.5rem;
    padding: 0 1rem;
    align-self: center;
    display: flex;
    
}
.search svg{
    fill: var(--gray);
    width: 1.8rem;
    height: 1.8rem;
    align-self: center;
}
.search-field{
    color: var(--gray);
    border: none;
    padding: .5rem .5rem;
    width: 100%;
    background-color: rgb(0,0,0,0);
    outline: none;
}

.user{
    grid-area: 1 / 2 / 2 / -1;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user svg{
    fill:var(--gray);
    width: 1.5rem;
    height: 1.5rem;
    &:hover{
        cursor: pointer;
    }
}

.user img{
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
    }
}

.buttons{
    grid-area: 2 / 1 / -1 / 2;
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
}

.buttons button{
    box-sizing: content-box;
    color: white;
    font-weight: 700;
    
    height: 1.4rem;
    text-align: center;
    width: 4rem;
    padding: .35rem 1rem;
    border: none;
    border-radius: var(--btn-radius);
    background-color: var(--blue);
}

.buttons button:hover{
    background-color: rgb(0, 108, 151);
    cursor: pointer;
}


.item{
  background-color: rgb(240, 178, 70);  
  
}

.content{
    background-color: #fff;
    width: calc(100% - var(--radius)*1.5);
    height: 100%;
    padding: .8rem 1rem;
    position: relative;
    border-radius: 0 var(--radius) var(--radius) 0;
    left: calc(var(--radius)*1.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h1{
    margin-bottom: .7rem;
}

.content p{
    color: var(--gray);
}

.icons{
    align-self: flex-end;
    display: flex;
    gap: .2rem;
}

.icons svg{
    fill: var(--gray);
    width: 1.5rem;
    height: 1.5rem;
    &:hover{
        cursor: pointer;
    }
}
/* @font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
} */

/* html, body{
    font-family: Roboto;
    height: 100%;
    margin: 0;

} */